* {
    /*font-family: 'Signika', sans-serif;    */
    font-family: 'Lato', sans-serif;
}

#header {
    border-radius: 7px;
    background-color:#252839;
    color:white;
    text-align:center;
    padding:5px;
    padding-left: 20px;
    padding-bottom: 1px;
}

ul {
    list-style-type: none;
    margin: 0;
    /*margin-top: 3px;*/
    padding: 0;
    overflow: hidden;
    /*background-color: #677077;*/
    font-size: 20px;
}

li {
    display: inline;
    float: left;
    padding: 10px 15px;
    /*margin: 1px;*/
}

ul#vertical li {
  color: #aa0000;
  display: inline;
  float: left;
  text-decoration: none;
  width: 100%;
  padding: 0px 0px;

}

li a {
    display: inline-grid;
    color: #252839;
    text-decoration: none
}

li a:hover {
    /*background-color: #b5b5b7;*/
    /*border-radius: 7px;*/
    color: #b5b5b7;
}

.active {
    /*background-color: #f2b632;*/
    /*border-radius: 7px;        */
    color: #f2b632;
}

#side-note {
  display: none;
  padding: 1%;

  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
  border-color:  #b5b5b7;
}

#page-wrap {
     width: 60%;
     min-width: 400px;
     margin-top: 0px;
     margin-bottom: 0px;
     margin-left: auto;
     margin-right: auto;
}

#section {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

#section a{
    color: #64706c;
    text-decoration: none !important;
}

#section a:hover{
    color: #b5b5b7;
    text-decoration: none !important;
}

button {
  border-radius: 7px;
  border: none;
  background-color:#252839;
  color: white;
  padding:5px;
  /*width: 10%;*/
  text-align: center;
}

button:hover {

  color: #f2b632;

}

/*
#button a {
  border-radius: 7px;
  background-color:#252839;
  color: white;
  padding:5px;
  width: 10%;
  text-align: center;
}*/

/*#button a:hover {
  color: #f2b632;
}*/

#footer {
    background-color: #677077;
    color:white;
    clear:both;
    text-align:center;
    padding:2px;
}

.col-twenty-five {
    /*-webkit-column-span: 1; */
    /*column-span: 1;  */
    width: 25%;
    min-width: 150px;
    float: left;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10px;

}

.image {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

.image-centre {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;

}

.col-fill {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10px;
    overflow: hidden;
}

.col-thirty {
    width: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 15px;
    float: left;
}

.col-fifty{
    width: 47%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 15px;
    float: left;
}

.col-one-hundred {
    width: 97%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 15px;
    float: left;
}

#big-text {
    font-size: 18px;
}

#bigger-text {
    font-size: 24px;
}

h4 {
    padding-bottom: 5px;
    margin: 0px;
}

h3 {
    padding-bottom: 5px;
    margin: 0px;
}

h2 {
    padding-bottom: 5px;
    margin: 0px;
}

h1 {
    font-size: 40px;
}
